@{
    ViewData["Title"] = "UserHome";
}

<h1>UserHome</h1>

<p>
    <a asp-action="SearchFlights">Create New Booking</a>
</p>
<p>
    <a asp-action="ShowMyBookings">Show My Bookings</a>
</p>